
# =========================
# DEPENDENCIES
# =========================
node_modules/


# =========================
# CACHE
# =========================
.vite/
*.tsbuildinfo

# =========================
# LOGS
# =========================
*.log

# =========================
# OS / EDITOR
# =========================
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
